# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:9
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v2-dependencies-

      - run: npm config set "@fortawesome:registry" https://npm.fontawesome.com/ && npm config set "//npm.fontawesome.com/:_authToken" $FONTAWESOME_TOKEN
      - run: yarn install
      - run: yarn build

      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "package.json" }}

      - save_cache:
          paths:
            - public
          key: v2-build
      
        
      # run tests!
      # - run: yarn test

  deploy-develop:
    docker:
      - image: circleci/python:2.7-jessie
    working_directory: ~/repo
    steps:
      - checkout 
      - restore_cache:
          keys:
          - v2-build
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Deploy develop to S3
          command: aws s3 sync public s3://dev.codemoth.fi --delete

  deploy-master:
    docker:
      - image: circleci/python:2.7-jessie

    working_directory: ~/repo
    steps:
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Deploy master to S3
          command: aws s3 sync public/ s3://codemoth.fi --delete

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy-develop:
          requires:
            - build
          filters:
            branches:
              only: develop
      - deploy-master:
          requires:
            - build
          filters:
            branches:
              only: master