@import "~bulma/bulma";

.icon {
  width: 2.5rem;
}

#navbar-items {
  margin: 0 auto;
}

.card-icon {
  display: block;
}

.big-title {
  color: #790fb7;
  font-family: Tahoma;
  font-size: 6rem;
}

.big-title-box {
  border: 10px solid #790fb7;
  border-radius: 10px;
  padding: 30px;
}